<main class="admin">
    <div class="admin-nav">
        <div>
            <article class="card">
                <div class="card-header">
                    Catégories
                </div>
                <div class="card-body">
                    <p><a href="{{ path('admin_categories_index') }}">Liste des catégories</a></p>
                    <p><a href="{{ path('admin_categories_add') }}">Ajouter une catégorie</a></p>
                </div>
            </article>
            <article class="card">
                <div class="card-header">
                    Produits
                </div>
                <div class="card-body">
                    <p><a href="{{ path('admin_products_index') }}">Liste des produits</a></p>
                    <p><a href="{{ path('admin_products_add') }}">Ajouter un produit</a></p>
                </div>
            </article>
        </div>
    </div>