<footer class="container-fluid bg-light text-center">
	<span>Mercadona Inc.</span>
	<div class="socials m-auto">
		<div class="social-item fb">
			<img src="{{ asset('assets/icons/fb.svg') }}" alt="Logo Facebook" width="50" height="50">
		</div>
		<div class="social-item tw">
			<img src="{{ asset('assets/icons/tw.svg') }}" alt="Logo Twitter" width="50" height="50">
		</div>
		<div class="social-item ig">
			<img src="{{ asset('assets/icons/ig.svg') }}" alt="Logo Instagram" width="50" height="50">
		</div>
	</div>
</footer>
