<footer class="container-fluid bg-light text-center">
	<span>Mercadona Inc.</span>
	<div class="socials">
		<div class="social-item fb">
			<a href=""><img src="{{ asset('assets/icons/fb.svg') }}" alt="Logo Facebook" width="40" height="40"></a>
		</div>
		<div class="social-item tw">
			<a href=""><img src="{{ asset('assets/icons/tw.svg') }}" alt="Logo Twitter" width="40" height="40"></a>
		</div>
		<div class="social-item ig">
			<a href=""><img src="{{ asset('assets/icons/ig.svg') }}" alt="Logo Instagram" width="40" height="40"></a>
		</div>
	</div>
</footer>
