{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<section class="container my-3">
    <div class="row">
        <div class="col">
            <h1>Réinitialisation de mot de passe</h1>
            <p>En cas de perte d'identifiant ou de mot de passe, contactez le service technique qui vous refournira un accès.</p>
            <p>La réinitialisation par mail n'est pas possible.</p>
        </div>
    </div>
</section>

{% endblock %}
