{% extends "base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% include "_partials/_adminnav.html.twig" %}
                <h1>Back Office</h1>
                <p>Vous trouvez ici de quoi gérer les catégories, les produits ainsi que les promotions.</p>
            </main>
        </div>
    </div>
{% endblock %}