header {
    max-height: 350px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

body.page main {
    min-height: calc(100vh - 114px);
}

body.home-page main {
    min-height: calc(100vh - 464px);
}

h1,
h2,
h3,
h4 {
    margin-bottom: 15px;
}

.img-header {
    max-width: 100%;
    height: 100%
}

.btn-primary {
    background: #fbba16;
    border-color: #fbba16;
}

.btn-primary:hover {
    background-color: #d99f0d;
    border-color: #d99f0d;
}

.btn-secondary {
    background: #957d41;
    border-color: #957d41;
}

.btn-secondary:hover {
    background: #7e6831;
    border-color: #7e6831;
}

.card .btn-primary {
  all: unset;
  width: 160px;
  text-transform: uppercase;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.card .btn-primary:hover {
    background-color: transparent;
}

.card .btn-primary::after,
.card .btn-primary::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .25s;
}

.card .btn-primary::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #fbba16;
  border-radius: 10px;
}

.card .btn-primary::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
  opacity: 0;
}

.card .btn-primary:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.card .btn-primary:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
  opacity: 1;
}

.card .btn-primary:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.card .btn-primary:active,
.card .btn-primary:focus,
.card .btn-primary:active:focus {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.card {
    border: none;
    box-shadow: #e5e5e5 0px 0px 8px 2px;
    border-radius: 1.5rem;
    overflow: hidden;
    transition: 0.2s;
}

.card:hover {
    box-shadow: #e5e5e5 0px 0px 8px 2px;
    scale: 1.03;
}

.card-body {
    padding: 1.5rem 1rem;
}

.card-body .btn {
    margin: auto;
}

.card.promo {
    background-color: #fffbdd;
}

.card.promo .card-price span {
    font-weight: bold;
    color: #da3030;
}

.card.promo {
    position: relative;
}

.card.promo::before {
    content: '';
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url('../icons/promo-icon.png');
    background-position: center;
    background-size: contain;
    top: 0;
    left: 0;
    z-index: 1;
}

.block-categories {
    margin-bottom: 100px;
}

form.connection-form {
    max-width: 500px;
    margin: auto;
}

.admin .card {
    min-width: 230px;
    margin: 15px;
}

.admin th {
    text-align: center;
}

.admin th,
.admin td {
    border-right: solid 1px #a7a7a7;
    vertical-align: middle;
}

.admin th:last-child,
.admin td:last-child {
    border-right: none;
}

.admin tr:last-child {
    border-style: none;
}

.admin-nav {
    display: flex;
    justify-content: center;
}

.admin-nav a {
    color: #29b782;
    transition: 0.3s;
}

.admin-nav a:hover {
    color: #1e6148;
}

.categorie-list {
    max-width: 230px;
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
}

.categorie-list select{
    border-radius: 10px 0 0 10px;
}

.categorie-list select:active,
.categorie-list .btn:active {
    box-shadow: none;
}

.categorie-list .btn{
    border-radius: 0 10px 10px 0;
}
