{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12 align-center">
                <h1>Catalogue des produits</h1>
                <p>Consultez tous nos produits !</p>            
            </div>
            {% for product in products %}
                <div class="col-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h3 class="card-title">{{ product.name }}</h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}
